@media screen and (min-width: 500px) { 
.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(7, 51, 108);
  display: grid;
  height: 100vh;
  grid-template: 1fr 7fr 1fr / 1fr 3fr 1fr;
  grid-template-areas: 
  "header header header"
  "navbar main userinfo"
  "footer footer footer";
  }
}

@media screen and (max-width: 500px) {
  .App {
    text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(7, 51, 108);
  }
  #navBarSmall{
    display:inline;
    font-size: 20px;
    margin: 3px;
  }

}



body {
  background-image: url('./icons/background.png');
  background-attachment: fixed;
}

.header {
  grid-area: header;
  -webkit-text-stroke: 1px black;
   color: yellow;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
  border: 3px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(to bottom right, rgba(250, 235, 33, 0.5), rgba(255, 184, 53, 0.5));
}


.userinfo {
  grid-area: userinfo;
}

.footer {
  grid-area: footer;
}

.icon {
  height: 25px;
  width: 25px;
}

.avatar{
  max-height: 50px;
  max-width: 50px;
}

ul {
  list-style-type: none;
   margin: 0;
  padding: 0;
}

form {
  display: inline-block;
}

a:visited {
  color: rgb(7, 51, 108);
}

a:link {
  color: rgb(7, 51, 108);
}

.btn {
  color: yellow;
  background-color: rgb(32, 44, 66); 
}

.outerText {
  color:yellow;
  font-weight: bold;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}